<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(VERSION_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vwa</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>vwa</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${VERSION_CODE}</string>
	<key>CodePushDeploymentKey</key>
	<string>$(IOS_CODE_PUSH_DEVELOPMENT_KEY)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app need access to the camera to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Enabling Face ID allows you quick and secure access to your account.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to your location to show you nearby restaurants.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs to access your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs to access the image gallery</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
    <string>This app would like to save images to your device</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>itms-apps</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-messenger</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>icons.ttf</string>
		<string>Roboto.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>BeVietnamPro-Black.ttf</string>
		<string>BeVietnamPro-BlackItalic.ttf</string>
		<string>BeVietnamPro-Bold.ttf</string>
		<string>BeVietnamPro-BoldItalic.ttf</string>
		<string>BeVietnamPro-ExtraBold.ttf</string>
		<string>BeVietnamPro-ExtraBoldItalic.ttf</string>
		<string>BeVietnamPro-ExtraLight.ttf</string>
		<string>BeVietnamPro-ExtraLightItalic.ttf</string>
		<string>BeVietnamPro-Italic.ttf</string>
		<string>BeVietnamPro-Light.ttf</string>
		<string>BeVietnamPro-LightItalic.ttf</string>
		<string>BeVietnamPro-Medium.ttf</string>
		<string>BeVietnamPro-MediumItalic.ttf</string>
		<string>BeVietnamPro-Regular.ttf</string>
		<string>BeVietnamPro-SemiBold.ttf</string>
		<string>BeVietnamPro-SemiBoldItalic.ttf</string>
		<string>BeVietnamPro-Thin.ttf</string>
		<string>BeVietnamPro-ThinItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
